In [4]:
Book=input("enter the book name")
price=int(input("enter the pice of the input"))

if price==250:
    print(Book)
    print("you can have the Book")
else:
    print(Book)
    print("you can't buy the book")

enter the book name olden days
enter the pice of the input 500

olden days
you can't buy the book

In [7]:
a=input()
b=input()

if a>b:
    print(a)
    print("a is greater than b")
else:
    print(b)
    print("b is smaller then a")

 8
 2

8
a is greater than b

In [8]:
a=8
b=2

if a>b:
    print(a)
    print("a is greater than b")
else:
    print(b)
    print("b is smaller then a")

8
a is greater than b

In [10]:
a= int(input())
b= int(input())
c= int(input())

if a>b:
    if a>c:
        print("a is largest")
    else:
        print("c is largest")

else:
    if b>c:
        print("b is largest")
    else:
        print("c is largest")

 6
 8
 2

b is largest

In [30]:
marks=int(input("enter the marks"))

if marks>=90 and marks<=100:
    print("grade = A+")
else:
    if marks>=80 and marks<90:
        print("grade = A")
    else:
        if marks>=70 and marks<80:
            print("grade = B+")
        else:
            if marks>=60 and marks<70:
                print("grade = B")
            else:
               if marks>=0 and marks<60:
                 print("grand = c+")
               else:
                  print("invalid choice")

enter the marks 8

grand = c+

In [38]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [39]:
x=0
while x<10:
    print(x)
    x=x+1

for y in range(1,11):
    print(y)

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10

In [51]:
for y in range(0,10):
    for x in range(0,y+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [7]:
n=int(input("enter the number"))
rev=0
while(n>0):
    rev=(rev*10)+n%10
    n=n//10
    print(rev);

enter the number 123

3
32
321

In [8]:
n=int(input("enter the number"))
m=n
rev=0
while(n>0):
    rev=(rev*10)+n%10
    n=n//10
if m==rev:
    print("palindrome")
else:
    print("not palindrome")

enter the number 202

palindrome

In [9]:
n=int(input("enter the number"))
m=n
rev=0
while(n>0):
    rev=(rev*10)+n%10
    n=n//10
if m==rev:
    print("palindrome")
else:
    print("not palindrome")

enter the number 456

not palindrome

In [10]:
n=int(input("enter the number"))
fac=1
while(n!=0):
    fac=fac*n
    n=n-1
    print(fac)

enter the number 5

5
20
60
120
120

In [1]:
a=[1,2,3,4,5.6,"raj"]
print(a)

[1, 2, 3, 4, 5.6, 'raj']

In [4]:
a=[3,8,5,3,0,2,5,3.4]
for i in range(0,8):
    print(a[i])

3
8
5
3
0
2
5
3.4

In [9]:
a=[3,8,5,3,0,2,5,3.4]
print(a)
for i in range(1,8):
    print(a[i])

8
5
3
0
2
5
3.4

In [12]:
a=[1,2,3,4,5,67,89]
print(a[2])

3

In [38]:
a=[1,2,3,4,5]
b=a.copy()
print(b)

c=b.pop(3)
print(c)

print(b)
b.append(10)
print(b)

print(b)
b.append(3)
b.append(11)
b.append(3)
print(b)
print(b.index(3))

print(b.count(3))

b.insert(4,9)
print(b)

b.remove(3)
print(b)

b.sort()
print(b)

b.sort(reverse=True)
print(b)

print(len(b))


print(a)
print(b)
b.extend(a)

[1, 2, 3, 4, 5]
4
[1, 2, 3, 5]
[1, 2, 3, 5, 10]
[1, 2, 3, 5, 10]
[1, 2, 3, 5, 10, 3, 11, 3]
2
3
[1, 2, 3, 5, 9, 10, 3, 11, 3]
[1, 2, 5, 9, 10, 3, 11, 3]
[1, 2, 3, 3, 5, 9, 10, 11]
[11, 10, 9, 5, 3, 3, 2, 1]
8
[1, 2, 3, 4, 5]
[11, 10, 9, 5, 3, 3, 2, 1]

In [39]:
a=[1,2,3,4,5,6,7,8,9]
for x in a:
    print(x)

1
2
3
4
5
6
7
8
9

In [43]:
n=int(input("enter the size of the list: "))
a=[]
for x in range(0,n):
    x=input()
    a.append(x)
    print(a)

enter the size of the list:  5
 1

['1']

 2

['1', '2']

 3

['1', '2', '3']

 4

['1', '2', '3', '4']

 5

['1', '2', '3', '4', '5']

In [49]:
#for each
L=[int(item) for item in (input("enter the elements:").split())]
print(L)

enter the elements: 1 2 3 4 5 6 7 8 9 0

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [50]:
L=[(item) for item in (input("enter the elements:").split())]
print(L)

enter the elements: a s d f g h

['a', 's', 'd', 'f', 'g', 'h']

In [51]:
a=list([1,2,3,4,5,6,7])
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [58]:
a=(1,2,3,4,5,6,7)
print(a)
print(type(a))

b=list(a)
print(b)
print(type(b))
b[6]="raj"
print(b)

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7]
<class 'list'>
[1, 2, 3, 4, 5, 6, 'raj']

In [66]:
a=(1,2,3,4,5,6,7)
for x in range(-1,-1*(len(a)+1),-1):
    print(a[x])

7
6
5
4
3
2
1

In [68]:
a=(1,2,3,4,5,6)
for x in range(0,len(a)):
    print(a[-1*(x+1)])

6
5
4
3
2
1

In [75]:
D={1:"vaish",2:"yashu",3:"ashu"}
print(D)
print(D[2])
print(D.keys())
print(D.values())
print(D.items())

print(D.get(4))

D[3]="ganavi"
print(D)

{1: 'vaish', 2: 'yashu', 3: 'ashu'}
yashu
dict_keys([1, 2, 3])
dict_values(['vaish', 'yashu', 'ashu'])
dict_items([(1, 'vaish'), (2, 'yashu'), (3, 'ashu')])
None
{1: 'vaish', 2: 'yashu', 3: 'ganavi'}

In [84]:
#write a program to take key and values as a input from the user and add the input in the dictionary,
#if the key is not present in the dictionary otherwise,print key already exist and also print its corresponding value
key=int(input())
value=int(input())
d={1:"vaishu",2:"yashu"}
print(d.get[key]=True)
if

enter the elements of the dictionary 1
Enter the key of the dictionary 1
Enter the value of the dictionary :"rani"

1 :"rani"

In [1]:
#finding the ZeroDivisionError
a=5/0
print(a)

ZeroDivisionError: division by zero

In [2]:
#TypeErroe
print("hello"/3)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [4]:
a=int (input())
b=int(input())
try:
    c=a/b
except:
    print("we can't divide")
else:
    print("division sucessfull")
    print(c)
finally:
    print("error handelled")

    
print("we have recieved the error as :",c)

 5
 0

we can't divide
error handelled

NameError: name 'c' is not defined

In [5]:
a=int (input())
b=int(input())
try:
    c=a/b
except:
    print("we can't divide")
else:
    print("division sucessfull")
    print(c)
finally:
    print("error handelled")

    
print("we have recieved the error as :",c)

 5
 3

division sucessfull
1.6666666666666667
error handelled
we have recieved the error as : 1.6666666666666667

In [7]:
a=[1,2,3,4,5,6,7,8,9]
b=int(input("enter the index"))
try:
    print(a[b])
except:
    print("there is no such index")
else:
    print("index is found")
    print(a[b])
finally:
    print("error handled")

enter the index 5

6
index is found
6
error handled

In [8]:
a=[1,2,3,4,5,6,7,8,9]
b=int(input("enter the index"))
try:
    print(a[b])
except:
    print("there is no such index")
else:
    print("index is found")
    print(a[b])
finally:
    print("error handled")

enter the index 10

there is no such index
error handled

In [11]:
try:
    a=input()
    b=input()
    x="hello"/3
except ValueError:
    print("value unable to convert")
except ZeroDivisionError:
    print("can't divide by zero")
except:
    print("some unknown error found")
else:
    print("no error")
finally:
    print("code execution done")

 3
 4

some unknown error found
code execution done

In [21]:
a={'Akash':85,'Yashu':80,'Vaishu':70,'venku':78,'aparna':67}
b=len(a)
print("length of the dictionary is :",b)
total=(sum(a.values())
print("total of the grades is :",total)
avg=total/b
print("avg is :",avg)

length of the dictionary is : 5
total of the grades is : 380
avg is : 76.0

In [ ]:
def add(x,y):
    return x+y
def substract(x,y):
    return x-y
def multiply(x,y):
    return x*y
def divide(x,y):
    if y==0:
        return "error! division by zerp"
    else:
        return x/y
def modulo(x,y):
    if y==0:
        return "error! modulo by zero"
    else:
        return x%y

while True:

In [35]:
n=int(input("enter the number"))
m=n
rev=0
while(n>0):
    rev=(rev*10)+n%10
    n=n//10
if m==rev:
    print("palindrome")
else:
    print("not palindrome")

enter the number 55055

palindrome

In [36]:
n=int(input("enter the number"))
rev=0
while(n>0):
    rev=(rev*10)+n%10
    n=n//10
    print(rev);

enter the number 34567

7
76
765
7654
76543

In [38]:
n=int(input("enter the number"))
fac=1
while(n!=0):
    fac=fac*n
    n=n-1
    print(fac)

enter the number 5

5
20
60
120
120

In [43]:
while True:
    print("1.addition")
    print("2.substraction")
    print("3.multiplication")
    print("4.division")
    print("5.power")
    print("6.modulus")
    print("7.exit")
    choice=input("enter choice(1/2/3/4/5/6/7:")
    if choice=='7':
        break
    if choice in('1','2','3','4','5','6'):
        a=int(input("Enter the value of a"))
        b=int(input("Enter the value od b"))
        match choice:
          case'1':print(a+b)
          case'2':print(a-b)
          case'3':print(a*b)
          case'4':print(a/b)
          case'5':print(a^b)
          case'6':print(a%b)
    else:
        print("invalid choice")

1.addition
2.substraction
3.multiplication
4.division
5.power
6.modulus
7.exit

enter choice(1/2/3/4/5/6/7: 1
Enter the value of a 3
Enter the value od b 4

7
1.addition
2.substraction
3.multiplication
4.division
5.power
6.modulus
7.exit

enter choice(1/2/3/4/5/6/7: 7

In [51]:
i=input("enter the string")
for character in i:
    if len(character)==1:
        if 'a'<=character<='z':
            print("lower case alphabet")
        elif 'A'<=character<='Z':
            print("upper case alphabet")
        elif '0'<=character<='9':
            print("numeric")
        else:
            print("special character")
    else:
        print("enter a single character")

enter the string 'vaishu'

special character
lower case alphabet
lower case alphabet
lower case alphabet
lower case alphabet
lower case alphabet
lower case alphabet
special character

In [52]:
n=int(input("enter the number"))
m=n
rev=0
while(n>0):
    rev=(rev*10)+n%10
    n=n//10
if m==rev:
    print("palindrome")
else:
    print("not palindrome")

enter the number 55055

palindrome

In [53]:
n=int(input("enter the number"))
rev=0
while(n>0):
    rev=(rev*10)+n%10
    n=n//10
    print(rev);

enter the number 3456

6
65
654
6543

In [16]:
n=int(input())
for i in range(2,n//2):
    if n%i==0:
        print("not a prime")
    else: 
        print("prime")

 3

In [57]:
n=int(input("enter the number"))
fac=1
while(n!=0):
    fac=fac*n
    n=n-1
    print(fac)

enter the number 3

3
6
6

In [2]:
try:
    list=[1,3,3,4,5]
    result=sum(list)
    print(result)
except TypeError:
    print("different type")
else:
    print("no error")
finally:
    print("code execution done")

16
no error
code execution done

In [3]:
student_grades={1:'vaishu',2:'yashu',3:'ashitha'}
try:
    total=0
    total=sum(student_grades)
    num=len(student_grades)
    average=total/num
    print(average)
except ZeroDivisionError:
    print("dictionary is empty")
else:
    print("no error")
finally:
    print("code execution done")

2.0
no error
code execution done

In [7]:
#DAY 4
a=input()
if a.isupper():
    print("A is a upper case charecter")
elif a.islower():
    print("A is a lower case charecter")
elif a.isnumeric():
    print("A is a number")
else:
    print("A is a special case")

 @

Ais a special case

In [14]:
a=input()
flag=0
for i in range(0,int(len(a)/2)):
    if a[i] !=a[(i+1)*-1]:
        flag=1
        break
if flag:
    print("not pallindrome")
else:
    print("pallindrome")

 abcd

not pallindrome

In [30]:
n=int(input())
for i in range(2,int(n/2)):
    if n%i==0:
        print("not a prime")
        break
else: 
        print("prime")

 9

not a prime

In [ ]:
#FILE HANDLING
#CREATE,READ,UPDATE,DELETE

In [ ]:
if__name__=='__main__':
   filename=="example.txt"
   new__filename="new_example.txt"

   create_file(filename)
   read_file(filename)
   append_file(filename,"this is some additional text.\n")
   read_file(filename)
   rename_file(filename,new_filename)
   read_file(new_filename)

In [11]:
import os

with open("file4.txt",'w') as f:
    f.write("\nThis is the first text in file\n")
    f.close()

In [12]:
import os
with open("file4.txt",'a')as f:
    f.write("\nthis is the second text in the file\n")
    f.close()

In [ ]:
import os

os.remove("file1.txt")

In [14]:
import os 
with open("file4.txt",'r')as f:
    for a in f.read().split():
        print(a)
        print("111")

f.close()

This
111
is
111
the
111
first
111
text
111
in
111
file
111
this
111
is
111
the
111
second
111
text
111
in
111
the
111
file
111

In [22]:
import os


with open("file.txt",'w') as f:
    f.write("\n this is the first file\n")
     

with open("file.txt",'a') as f:
    f.write("\n this is the second file\n")
    

with open("file.txt",'r') as f:
    for a in f.read().split():
        print(a)
        print(222)

f.close()

this
222
is
222
the
222
first
222
file
222
this
222
is
222
the
222
second
222
file
222

In [41]:
import os

with open("Fruit.txt",'w') as a:
    
    a.write("1.Apple\n2.Banana\n3.Mango\n4.Grapes")
with open("Fruit.txt",'r') as a:
    content=a.read()

content = content.replace("Banana","Water melon")

with open("Fruit.txt",'w') as a:
          a.write("Water melon")

a.close()

In [40]:
import os

with open("Fruit.txt",'w') as a:
    
    a.write("1.Apple\n2.Banana\n3.Mango\n4.Grapes")
with open("Fruit.txt",'r') as a:
    content=a.read()

new_content = content.replace("Banana","Water melon")

a.close()

In [5]:
#count the number of vowels in a String
text=input("text:")
count=0
for character in text:
    if(character in"aAeEiIoOuU"):
        count+=1
print("count:",count)

text: anusha

count: 3

In [8]:
#find the sum of all even numbers in a string
def even_sum(numbers):
    sum=0
    for n in numbers:
        if n%2==0:
            
            sum=sum+n
    return sum

even_sum([1,2,3,4,5,6,7,8,9])

20

In [12]:
#count the occurrences of each element in a list
mylist=[15,11,12,13,4,5,11,12,6,5,4,3,10,15,13,5,4,2,]
x=15
count=0

for element in mylist:
    if(element==x):
        count=count+1
print("the element has occured :",count)

the element has occured : 2

In [15]:
#find a second largest number in a given list
a=[12,34,65,89,76,90,46,11]
a.sort()
print(a)

print("largest number is",a[-1])
print("second number is",a[-2])

[11, 12, 34, 46, 65, 76, 89, 90]
largest number is 90
second number is 89

In [21]:
#Reverse the words in a given sentence
str="welcome to python programming"
words=str.split(" ")
print(words)

words=words[-1::-1]
print(words)

b=' '.join(words)
print(b)

['welcome', 'to', 'python', 'programming']
['programming', 'python', 'to', 'welcome']
programming python to welcome

In [24]:
#convert a temperaturn from celcius to fahrenheit
celcius=int(input("enter the celcius"))
fahrenheit=(celcius*1.8)+32
print("%.2f celcius=%.2f fahrenheit" %(celcius,fahrenheit))

enter the celcius 0

0.00 celcius=32.00 fahrenheit